body {
    max-width: 650px;
    margin: 40px auto;
    padding: 0 10px;
    font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #444;
    background-image: url("../res/bright_squares.png");
}

h1,
h2,
h3 {
    line-height: 1.2;
}
@media (prefers-color-scheme: dark) {
    body {
        color: #ccc;
        background: black;
        background-image: url(../res/starstwinkle.gif);
    }

    a:link {
        color: #5bf;
    }

    a:visited {
        color: #ccf;
    }
} 

main {
    display: flex;
    flex-direction: row;
}

.nav {
    border: 1px solid white;
    padding-right: 1em;
    background-color: rgba(170, 187, 97, 0.3);
    border-radius: 8px;
}

.nav ul {
    list-style-type: none;
    padding: 1em;
}
.nav ul li {
    margin: 0px;
    padding: 0px;
}

.content {
    padding: 1em;
}